@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-danger">Bitte entschuldigen Sie!</h1>
            <h4 class="text-danger">Es ist ein Fehler aufgetreten</h4>
            <div>
                <img src="~/Content/Images/error.jpg" width="300"/>
            </div>

            <br />

            <a href="~/Home/Index">zurück zur Startseite</a>

            <br />
            <br />
            <span>
                Sollte der Fehler erneut auftreten wenden Sie sich bitte an unsere Team<br />
            </span>
            <br />
            <br />
        </div>
    </div>
</div>