@{
    ViewBag.Title = "ZugriffVerweigert";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-danger">Zugriff verweigert</h1>
            <h2 class="text-danger">Sie besitzen nicht die benötigten Rechte</h2>
            <div>
                <img src="~/Content/Images/error.jpg" width="300" />
            </div>

            <br />

            <a href="~/Home/Index">zurück zur Startseite</a>

            <br />
            <br />
            <span>
                Sollte der Fehler erneut auftreten wenden Sie sich bitte an unsere Team<br />
            </span>
            <br />
            <br />
        </div>
    </div>
</div>