<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.net xdt:Transform="Replace">
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy bypassonlocal="True" proxyaddress="http://winproxy.schlund.de:3128" />
    </defaultProxy>
  </system.net>

  <system.web>
   <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>