@model Caterer_DB.Models.ForgottenPasswordRequestViewModel

@{
    ViewBag.Title = "PasswordRequest";
}

<br />
<br />
<br />
<br />
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-4"></div>
        <div id="PasswortVerg" class="col-md-4 text-center">
            <h3>Passwort vergessen</h3>
            <div class="col-md-4"></div>
        </div>
    </div>
    <br />
    <br />



    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="input-group input-group">
                <span class="input-group-addon"><i style="font-size:25px;" class="glyphicon glyphicon-user "></i></span>
                <div class="icon-addon addon">
                    @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control", placeholder = "E-Mail" } })                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>




    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger", id= "PWRecoveryFehler" })
        </div>
        <div class="col-md-4"></div>
    </div>



    <br />
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div class="form-group ">
                <div class="col-md-12">
                    <button id="PWRecoveryAbschicken" type="submit" value="Abschicken" class="btn btn-primary">
                        <i  class="glyphicon glyphicon-envelope"></i> Abschicken
                    </button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />