
@{
    ViewBag.Title = "PasswordRequestComplete";
}


<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div id="RegErfolg" , class="col-md-4 text-center">
        <h3>Bestätigung der Passwortanforderung</h3>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <p>Wir haben Ihnen soeben eine E-Mail geschickt. </p>
        <p>Bitte klicken Sie auf den darin enthaltenen Link, um Ihr Passwort zu ändern.</p>
        <p>Schauen Sie bitte auch in Ihr Spam-Postfach.<p />
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />