
@{
    ViewBag.Title = "PasswordRequestComplete";
}


<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="well well-sm">
            <div class="row">

                <div id="RegErfolg" , class="col-md-12 text-center">
                    <h3>Bestätigung der Passwortänderung</h3>
                </div>
            </div>
            <br />
            <br />
            <br />

            <div class="row">

                <div class="col-md-8 col-md-offset-2 text-center">
                    <p>Wir haben Ihnen soeben eine E-Mail geschickt. </p>
                    <p>Bitte klicken Sie auf den darin enthaltenen Link, um Ihr Passwort zu ändern.</p>
                    <p>Schauen Sie bitte auch in Ihr Spam-Postfach.<p />
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
