@using Caterer_DB.Models
@using Caterer_DB.Resources
@model LoginModel
@{
    ViewBag.Title = "Registrierung erfolgreich";
}







<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h3>Registrierung erfolgreich</h3>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <p>Sie haben es fast geschafft. Wir haben ihnen eine E-Mail gesendet bitte klicken Sie auf den darauf enthaltenen Link um ihren Account zu aktivieren.</p>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
