@using Caterer_DB.Models
@using Caterer_DB.Resources
@model LoginModel
@{
    ViewBag.Title = "Registrierung erfolgreich";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div id="RegErfolg", class="col-md-4 text-center">
        <h3>Registrierung erfolgreich</h3>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <p>Sie haben sich erfolgreich als Caterer registriert. Wir haben Ihnen soeben eine E-Mail geschickt. Bitte klicken Sie auf den darin enthaltenen Link, um Ihren Account zu aktivieren.</p>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

