
@using Caterer_DB.Models
@using Caterer_DB.Resources
@model LoginModel
@{
    ViewBag.Title = "Registrierung abgeschlossen";
}
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-2"></div>
    <div id="RegMailValidation-error", class="col-md-8 text-center">
        <h3>Registrierung noch nicht abgeschlossen</h3>
        <div class="col-md-2"></div>
    </div>
</div>
<br />
<br />
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <p>Bitte bestätigen Sie zunächst Ihre E-Mail-Adresse, um die Registrierung abzuschließen.<p/>
        <p>Klicken Sie hierfür auf den in der E-Mail enthaltenen Link.<p/>
        <p>Schauen Sie bitte auch in Ihr Spam-Postfach.<p />
        <div class="col-md-2"></div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />


