@using Caterer_DB.Models
@using Caterer_DB.Resources
@model LoginModel
@{
    ViewBag.Title = "Registrierung abgeschlossen";
}
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="well well-sm">
            <div class="row">

                <div id="RegMailValidation-error" , class="col-md-offset-2 col-md-8 text-center">
                    <h3>Registrierung noch nicht abgeschlossen</h3>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">

                <div class="col-md-8  col-md-offset-2 text-center">
                    <p>Bitte bestätigen Sie zunächst Ihre E-Mail-Adresse, um die Registrierung abzuschließen.<p />
                    <p>Klicken Sie hierfür auf den in der E-Mail enthaltenen Link.<p />
                    <p>Schauen Sie bitte auch in Ihr Spam-Postfach.<p />
                </div>
            </div>
        </div>
    </div>
</div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />