@using Caterer_DB.Models
@using Caterer_DB.Resources
@model LoginModel
@{
    ViewBag.Title = "Registrierung abgeschlossen";
}







<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h3>Registrierung erfolgreich</h3>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <p>Ihre Registrierung wurde erfolgreich abgeschlossen. Sie können sich nun einloggen</p>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
