@using Caterer_DB.Models
@using Caterer_DB.Resources
@model LoginModel
@{
    ViewBag.Title = "Registrierung abgeschlossen";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />





<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h3>Registrierung abgeschlossen</h3>
        <div class="col-md-4"></div>
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <p>Ihre Registrierung wurde erfolgreich abgeschlossen. Sie können sich nun einloggen.</p>
        <div class="col-md-4"></div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "loginLinkbutton" })
    </div>
    <div class="col-md-5"></div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />