@{
    ViewBag.Title = "Kontakt";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h1>Ansprechpartner</h1>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h1>Lüneburg</h1>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="well well-lg">
            <div class="row">

                <div class="col-md-8 text-center">
                    <p>
                        <h4>Diana Reif - Leitung</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Auf der Hude 2
                        <br>21339 Lüneburg
                    </p>
                    <p>
                        <br>Tel.: 04131 - 15 2768
                        <br>Fax.: 04131 - 15 2991
                        <br><a href="mailto:Support@example.com">diana.reif@dgevesch-ni.de</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/reif.jpg" class="center-block img-responsive img-circle" />
                </div>
            </div>

        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h1>Braunschweig</h1>
        <div class="col-md-2"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images/Stephainski.jpg" class="center-block img-responsive img-circle" />
                </div>
                <div class="col-md-8 text-center">
                    <p>
                        <h4>Kaya Stephainski</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Bohlweg 38
                        <br>38100 Braunschweig
                    </p>
                    <p>
                        <br>Tel.: 0531 - 484 3381
                        <br>Fax.: 0531 - 484 3040
                        <br><a href="mailto:Support@example.com">kaya.stephainski@dgevesch-ni.de</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-8">
        <div class="well well-lg">
            <div class="row">

                <div class="col-md-8 text-center">
                    <p>
                        <h4>Wiebke Arnold</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Bohlweg 38
                        <br>38100 Braunschweig
                    </p>
                    <p>
                        <br>Tel.: 0531 - 484 3266
                        <br>Fax.: 0531 - 484 3040
                        <br><a href="mailto:Support@example.com">wiebke.arnold@dgevesch-ni.de</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images/Arnold.JPG" class="center-block img-responsive img-circle" />
                </div>
            </div>
        </div>
    </div>

</div>






<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h1>Osnabrück</h1>
        <div class="col-md-2"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4">
                    @*<img src="Pfad des Fotos muss noch eingefügt werden" class="center-block img-responsive img-circle" />*@
                </div>
                <div class="col-md-8 text-center">
                    <p>
                        <h4>N.N.</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Mühleneschweg 5
                        <br>49090 Osnabrück
                    </p>
                    <p>
                        <br>Tel.: 0541 - 314 495
                        <br>Fax.: 0541 - 314 9495
                        <br><a href="mailto:Support@example.com"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h2>Ansprechpartner für den Regierungsbezirk Hannover:</h2>
        <div class="col-md-2"></div>
    </div>
</div>

    <br>Schulen aus den Landkreisen Diepholz und Nienburg (Weser) wenden sich bei Fragen bitte an den Beratungsstandort Lüneburg. (Kontaktdaten siehe oben)
    <br>Schulen aus den Landkreisen Schaumburg, Hameln-Pyrmont, Holzminden und Hildesheim sowie der Region Hannover wenden sich bei Fragen bitte an den Beratungsstandort Braunschweig. (Kontaktdaten siehe oben)
