@using Caterer_DB
@using Caterer_DB.MVCServices
@{
    ViewBag.Title = "Kontakt";
}
<br>
<br>
<br>

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center" id="Ansprechp">
        <h1>Ansprechpartner</h1>
    </div>
</div>
<br>
<br>

@*Kontaktelement linksbündig*@
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        @*Tragen Sie nachfolgend den Standort der Vermittlungsstelle ein*@
        <h2>Braunschweig</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-8 text-center">
                    <p>
                        @*Tragen Sie nachfolgend die Kontaktdaten der Ansprechperson ein*@
                        <h4>Vanessa Albrecht - Leitung</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Bohlweg 38
                        <br>38100 Braunschweig
                    </p>
                    <p>
                        <br>Tel.:  0531 - 484 3381
                        <br>Fax.:  0531 - 484 3216
                        <br><a href="mailto:Support@example.com">vanessa.rodehorst@dgevesch-ni.de</a>
                    </p>
                </div>
                <div class="col-md-4">

                    @*Tragen Sie nachfolgend den Dateipfad der Bildes der Ansprechperson ein*@
                    <img src="~/Content/Images/Foto_Albrecht_schwarz-weiss.jpg" class="center-block img-responsive img-circle" />
                </div>
            </div>
        </div>
    </div>
</div>

@*Kontaktelement rechtsbündig*@
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        @*Tragen Sie nachfolgend den Standort der Vermittlungsstelle ein*@
        <h2>Braunschweig</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4">

                    @*Tragen Sie nachfolgend den Dateipfad der Bildes der Ansprechperson ein*@
                    <img src="~/Content/Images/Foto_Kompe_schwarz-weiss.JPG" class="center-block img-responsive img-circle" />
                </div>
                <div class="col-md-8 text-center">
                    <p>
                        @*Tragen Sie nachfolgend die Kontaktdaten der Ansprechperson ein*@
                        <h4>Dr. Katharina Kompe</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Bohlweg 38
                        <br>38100 Braunschweig
                    </p>
                    <p>
                        <br>Tel.: 0531 - 484 3266
                        <br>Fax.: 0531 - 484 3216
                        <br><a href="mailto:Support@example.com">katharina.kome@dgevesch-ni.de</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*Kontaktelement linksbündig*@
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        @*Tragen Sie nachfolgend den Standort der Vermittlungsstelle ein*@
        <h2>Lüneburg</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-8 text-center">
                    <p>
                        @*Tragen Sie nachfolgend die Kontaktdaten der Ansprechperson ein*@
                        <h4>Diana Reif </h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Auf der Hude 2
                        <br>21339 Lüneburg
                    </p>
                    <p>
                        <br>Tel.: 04131 - 15 2768
                        <br>Fax.: 04131 - 15 2991
                        <br><a href="mailto:Support@example.com">diana.reif@dgevesch-ni.de</a>
                    </p>
                </div>
                <div class="col-md-4">

                    @*Tragen Sie nachfolgend den Dateipfad der Bildes der Ansprechperson ein*@
                    <img src="~/Content/Images/Foto_Reif_schwarz-weiss.jpg" class="center-block img-responsive img-circle" />
                </div>
            </div>
        </div>
    </div>
</div>

@*Kontaktelement rechtsbündig*@
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        @*Tragen Sie nachfolgend den Standort der Vermittlungsstelle ein*@
        <h2>Osnabrück</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4">

                    @*Tragen Sie nachfolgend den Dateipfad der Bildes der Ansprechperson ein*@
                    <img src="~/Content/Images/Foto_Ullrich_schwar-weiss.jpg" class="center-block img-responsive img-circle" />
                </div>
                <div class="col-md-8 text-center">
                    <p>
                        @*Tragen Sie nachfolgend die Kontaktdaten der Ansprechperson ein*@
                        <h4>Julia Ullrich</h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Mühleneschweg 5
                        <br>49090 Osnabrück
                    </p>
                    <p>
                        <br>Tel.: 0541 - 314 495
                        <br>Fax.: 0541 - 314 9495
                        <br><a href="mailto:Support@example.com">julia.ullrich@dgevesch-ni.de</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@***************Kopieren Sie im Wechsel links-und rechtsbündige Kontaktelemente hinein und passen Sie diese an.*****************@

@*Kontaktelement linksbündig*@
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        @*Tragen Sie nachfolgend den Standort der Vermittlungsstelle ein*@
        <h2>Hannover</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-8 text-center">
                    <p>
                        <br>Schulen aus den Landkreisen Diepholz und Nienburg (Weser) wenden sich bei Fragen bitte an den Beratungsstandort Lüneburg. (Kontaktdaten siehe oben)
                    </p>
                    <p>
                        <br>Schulen aus den Landkreisen Schaumburg, Hameln-Pyrmont, Holzminden und Hildesheim sowie der Region Hannover wenden sich bei Fragen bitte an den Beratungsstandort Braunschweig. (Kontaktdaten siehe oben)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>