@{
    ViewBag.Title = "Contact";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h3>Kontakt</h3>
        <div class="col-md-2"></div>
    </div>
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>





<div class="row">
    <div class="col-md-3 well well-lg" ></div>
    <div class="col-md-3 well well-lg">Diana Reif - Leitung
Deutsche Gesellschaft für Ernährung e.V.
Vernetzungsstelle Schulverpflegung Niedersachsen
Auf der Hude 2
21339 Lüneburg

Tel.: 04131 - 15 2768
Fax: 04131 - 15 2991
E-Mail: diana.reif@dgevesch-ni.de"></div>    
    <div class="col-md-3 well well-lg"></div>
    <div class="col-md-3"></div>
</div>




