
<br />
<br />
<br />

<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center" id="Impr">
        <h1>Impressum</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">

        @*Tragen Sie nachfolgend den Standort der Vermittlungsstelle ein*@
        <h4>Herausgegeben von:</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-8 text-center">
                    <p>
                        @*Tragen Sie nachfolgend die Kontaktdaten der Ansprechperson ein*@
                        <h4>Diana Reif </h4>
                        <br>Deutsche Gesellschaft für Ernährung e.V.
                        <br>Vernetzungsstelle Schulverpflegung Niedersachsen
                        <br>Auf der Hude 2
                        <br>21339 Lüneburg
                    </p>
                    <p>
                        <br>Tel.: 04131 - 15 2768
                        <br>Fax.: 04131 - 15 2991
                        <br><a href="mailto:Support@example.com">diana.reif@dgevesch-ni.de</a>
                    </p>
                </div>
                <div class="col-md-4">

                    @*Tragen Sie nachfolgend den Dateipfad der Bildes der Ansprechperson ein*@
                    <img src="~/Content/Images/Foto_Reif_schwarz-weiss.jpg" class="center-block img-responsive img-circle" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
