<br />
<br />
<br />

<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center" id="Impr">
        <h1>Impressum</h1>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        @*Tragen Sie nachfolgend die Angaben Ihrer Impressumsseite ein*@
        <b>Herausgegeben von:</b>
        Deutsche Gesellschaft für Ernährung e. V.<br />
        Vernetzungsstelle Schulverpflegung Niedersachsen<br />
        Diana Reif<br />
        Auf der Hude 2<br />
        21339 Lüneburg<br /><br />
        Tel.: 04131 - 15 2768<br />
        Fax: 04131 - 15 2991<br />
        E-Mail: diana.reif@dgevesch-ni.de<br />

    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



