@model Caterer_DB.Models.AnmeldenBenutzerViewModel
@using Caterer_DB.Resources
@{
    ViewBag.Title = "Startseite";
}


<br />
<br />
<br />

@if (Request.IsAuthenticated)
{
    
    <div class="row">
        <div class="col-md-offset-3 col-md-6" id = "Willkommen">
            <h2>Willkommen @Model.Vorname @Model.Nachname</h2>
   
                @if (User.HatDasRecht(RechteResource.TestBlock1))
                {
                    <h4 class="text-danger">Ich bin Mitglied der Gruppe Administratoren</h4>
                }
                else if(User.HatDasRecht(RechteResource.TestBlock3))
                {
                    <h4 class="text-danger">Ich bin Mitglied der Gruppe Caterer</h4>
                }
                else if (User.HatDasRecht(RechteResource.TestBlock2))
                {
                    <h4 class="text-danger">Ich bin Mitglied der Gruppe Mitarbeiter</h4>
                }
            
        </div>
    </div>
}

@if (TempData["AccountDeleted"] != null)
{
    <div class="row">
        <div class="col-md-offset-3 col-md-6" id="Gelöscht">
            <div class="alert alert-success" role="alert"><H3>Ihr Account wurde erfolgreich gelöscht!</H3></div>
        </div>
    </div>
    
}




<br />
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
    <div class="col-md-3"></div>
</div>
<br />
@if (!Request.IsAuthenticated)
{
    

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 text-center">
            @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "loginLinkbutton" })
        </div>
        <div class="col-md-5"></div>
    </div>
                <br />
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2 text-center">
                        @Html.ActionLink("Registrierung", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-block", id = "registerLink" })
                    </div>
                  
                    <div class="col-md-5"></div>
                </div>
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
